<% include ../partials/header %>
<div id="main" class="container">
  <h2>Create new post</h2>
  <form method="POST" id="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="text" name="image" class="form-control" id="image" placeholder="Image url">
    </div>  
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" name="body" id="body" rows="3" placeholder="Write something..."></textarea>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-info" />
    </div>
  </form>
</div>
<% include ../partials/footer %>