@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');#footer{padding:20px;background:#6797c7;display:flex;justify-content:center;align-items:center;color:#fff;text-align:center}#footer .heart{color:red;font-size:18px}#main{font-family:'Roboto',sans-serif;padding:50px 20px;border-radius:0;min-height:100vh}.dropdown{right:10px;top:10px}@media screen and (max-width:700px){#main{width:100%;margin:0;padding:30px 0;background:#eee}}.alert{margin-top:77px;}.navbar{background: #84b0db !important}
.card-img-top {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .card-img-top {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
}