#footer {
  padding: 20px;
  background: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
#footer .heart {
  color: #f00;
  font-size: 18px;
}
#main {
  padding: 50px;
  border-radius: 0;
}